<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <title>{% if page.title %}{{ page.title }}{% else %}likeflames's website{% endif %}</title>
    
    <link rel="icon" href="{{'/images/tubiao.png'}}" type="image/png">
    
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <nav class="navbar" role="navigation">
  <ul class="navbar-menu">
    <!-- 主导航项1 -->
    <li class="nav-item">
      <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
    </li>
    
    <!-- 主导航项2，带下拉菜单 -->
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">旅行</a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/Blog/HongKong' | relative_url }}" class="dropdown-item">香港</a></li>
        <li><a href="{{ '/Blog/Japan' | relative_url }}" class="dropdown-item">日本</a></li>
      </ul>
    </li>
    
    <!-- 主导航项3，带下拉菜单 -->
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">文章</a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/web-development' | relative_url }}" class="dropdown-item">Web Development</a></li>
        <li><a href="{{ '/seo' | relative_url }}" class="dropdown-item">SEO Services</a></li>
      </ul>
    </li>

    <!-- 主导航项4 -->
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">照片</a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/web-development' | relative_url }}" class="dropdown-item">Web Development</a></li>
        <li><a href="{{ '/seo' | relative_url }}" class="dropdown-item">SEO Services</a></li>
      </ul>
    </li>
    
    <!-- 主导航项5 -->
    <li class="nav-item">
      <a href="{{ '/example' | relative_url }}" class="nav-link">Example</a>
        </li>
      </ul>
    </nav>

    <header class="page-header" role="banner" style="background-image: url('{{ page.bg_image | default: '/images/banner.jpg' | relative_url }}');">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner">Still learning how to build a website.</span>
      </footer>
    </main>
  </body>
</html>
